#fname {
    width: 200px;
}

#lname {
    width: 300px;
}

#mname {
    width: 200px;
}

.form-inline {
    border: 1px solid black;
    margin: auto;
    width: 800px;
    height: 1400px;
    padding: 30px;
    background-color: lightgrey;
}

.form-header-group {
    padding: 15px;
    background-position: 40px center;
    text-align: center;
}

.form-header {
    color: red;
}

#street {
    width: 500px;
}

#line {
    width: 500px;
}

#city {
    width: 250px;
}

#state {
    width: 240px;
}

#email {
    width: 400px;
}

#phone {
    width: 190px;
}

#area {
    width: 150px;
}

#company {
    width: 300px;
}

#courses {
    width: 200px;
}

.btn-success {
    float: left;
    padding: 10px;
}

.btn-primary {
    float: right;
    padding: 10px;
}

#comment {
    width: 500px;
    height: 100px;
}